<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>
            {#- Add a title to the page if one was specified, otherwise default -#}
            {%- if title is defined -%}
            {{ title }} - {{ company_name -}}
            {%- else -%}
            {{ company_name -}}
            {%- endif -%}
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fcc">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('homepage') }}">
                    <img src="{{ url_for('static', filename='falihax.png') }}" height="72"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% for name, page in navbar_page_names.items() -%}
                        {%- if page["condition"]() -%}
                        <a class="nav-link{%- if request.path == url_for(page['view'].__name__) %} active{% endif %}" href="{{ url_for(page['view'].__name__) }}">{{ name }}</a>
                        {% endif %}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </nav>
        <main class="flex-shrink-0">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container flashes">
                {% for category, message in messages %}
                <div class="mt-3 alert alert-{{category}}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <a class="cybot" href="https://cybersoc.org.uk/?r=falihax" title="A CyberSoc Workshop">
                <img src="{{ url_for('static', filename='cybot.png') }}" alt="CyBot"/>
            </a>
            <div class="container text-center">
                <small class="text-muted d-block">
                    Regulated by the <a href="#" onclick="alert('not really')">FCA</a> (Ficticious Conduct Authority).
                </small>
                <small class="text-muted d-block">
                    Obviously not a real bank. Don't put any personal information into this website.
                </small>
            </div>
        </footer>
    </body>
</html>