<html>
<head>
    <title>
        {#- Add a title to the page if one was specified, otherwise default -#}
        {%- if title is defined -%}
        {{ title }} - {{ company_name -}}
        {%- else -%}
        {{ company_name -}}
        {%- endif -%}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fcc">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">
            <img src="{{ url_for('static', filename='falihax.png') }}" height="72"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% for name, view in navbar_page_names.items() -%}
                <a class="nav-link{%- if request.path == url_for(view.__name__) %} active{% endif %}" href="{{ url_for(view.__name__) }}">{{ name }}</a>
                {%- endfor %}
            </div>
        </div>
    </div>
</nav>
</body>
</html>